<!-- <div> -->
<div class="step-display">
  <!-- TO-DO => update class based on current step -->
  <!-- TO-DO => add these dynamically -->
  <div class="step selected">
    <div class="step_number selected"> 1</div>
    <div class="step_details">
      <div class="step_title">Step 1</div>
    <div class="step_description">Your info</div>
  </div>

  </div>
  <div class="step">
    <div class="step_number">2</div>
    <div class="step_details">
    <div class="step_title">Step 2</div>
    <div class="step_description">Select plan</div>
 </div> </div>
  <div class="step">
    <div class="step_number">3</div>
    <div class="step_details">
    <div class="step_title">Step 3</div>
    <div class="step_description">Add-ons</div>
  </div></div>
  <div class="step">
    <div class="step_number">4</div>
    <div class="step_details">
    <div class="step_title">Step 4</div>
   <div class="step_description">Summary</div>
  </div> </div>
  <ng-container>








    <!-- Sidebar end -->
  </ng-container>
</div>


<!-- </div> -->
