<ng-container [formGroup]="stepForm">
  <mat-card class="step-three">
    <mat-card-header>
      <mat-card-title-group class="title">
        <mat-card-title>Pick add-ons</mat-card-title>
        <mat-card-subtitle> Add-ons help enhance your gaming experience.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="addon-section">

      <mat-checkbox *ngFor="let addOn of addOnOptions"
                    [value]="addOn.formName"
                    (change)="updateAddOns($event, addOn.formName)">
        <div class="addOn">
          <div class="details">
            <h2>{{addOn.addOn}} </h2>
            <h3>{{addOn.desc}} </h3>
          </div>
          <h4>{{addOn.timeFrame[timeFrame].price}}</h4>
        </div>
      </mat-checkbox>
    </mat-card-content>
  </mat-card>

</ng-container>
