@use '/src/variables';
// TO-DO => add styles for checkbox select
.addon-section {
  @include variables.flexSpaceBetween(column);
  margin: 0.375rem 0 .75rem 0;

}

span {
  display: block;
}

.addOn {
  @include variables.flexSpaceBetween(row);
  width: 14.375rem;
}

.details {
  @include variables.flexSpaceBetween(column);
  width: 100%;
  align-items: baseline;
  justify-content: space-evenly;
  height: 2.438rem;
}

mat-checkbox {
  color: variables.$shady-neon-blue;
  @include variables.flexSpaceBetween(row);
  border: 0.063rem solid variables.$delicate-lilac-crystal;
  height: 3.875rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem 0.5rem 0;
  width: 18.4rem;
}

// TO-DO => change mat-checkbox styles
#mat-mdc-checkbox-checked {
  border: 0.063rem solid variables.$shady-neon-blue !important;
}


mat-button-toggle-checked,
mat-mdc-checkbox-checked {
  border: 0.063rem solid variables.$shady-neon-blue;
  background-color: variables.$cotton-ball;
}

::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: variables.$shady-neon-blue !important;
    border-color: variables.$shady-neon-blue !important;
  }

  .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: variables.$shady-neon-blue !important;
    border-color: variables.$shady-neon-blue !important;
  }
}

::ng-deep .mat-checkbox.mat-accent {
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: variables.$shady-neon-blue !important;
    border-color: variables.$shady-neon-blue !important;
  }
}

.addon_title {
  @include variables.body-primary-s;
  color: variables.$sub-nautical;
}

.addon_desc {
  @include variables.body-secondary-s;
  color: variables.$bright-manatee;
  padding-top: .25rem;
}

.addon_price {
  @include variables.body-secondary-s;
  color: variables.$shady-neon-blue;
}

label {
  margin-bottom: 0 !important;
  padding: 0;
}


@media (min-width: 37.5em) {
  .column {
    width: 28.125rem;
    padding-right: 6.25rem;
  }

  mat-checkbox {
    width: 28.125rem;
    height: 5rem;
    padding-left: 0.5rem;
  }

  .addOn {
    padding-left: .5rem;
    padding-top: 0.625rem;
    width: calc(28.125rem - 4.75rem);

  }

  .details {
    @include variables.flexSpaceBetween(column);
    width: 12.5rem;
    align-items: baseline;
    justify-content: space-evenly;
    height: 2.813rem;
  }

  .addon_title {
    font-size: 1rem;
    line-height: 1.1rem;
  }

  .addon_desc,
  .addon_price {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
