<ng-container [formGroup]="stepForm">
  <mat-card class="step-one">
    <mat-card-header>
      <mat-card-title-group class="title">
        <mat-card-title role="heading"
                        aria-level="1">Personal info</mat-card-title>
        <mat-card-subtitle role="heading"
                           aria-level="2"
                           role="heading"
                           aria-level="2">Please provide your name, email address, and phone number.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-controls">
      <!-- name input -->
      <div class="input-details">
        <label for="name">Name</label>
        <label for="error"
               id="error"
               *ngIf="this.stepForm.controls['name'].invalid && this.stepForm.controls['name'].touched"
               class="error-alert">Name is required</label>
      </div>
      <input type="text"
             matInput
             id="name"
             formControlName="name"
             placeholder="e.g. Stephen King" />
      <!-- email input -->
      <div class="input-details">
        <label for="email">Email Address</label>
        <label for="error"
               *ngIf="this.stepForm.controls['email'].invalid && this.stepForm.controls['email'].touched"
               class="error-alert">Email is required</label>
      </div>
      <input type="text"
             name="email"
             id="email"
             placeholder="e.g. stephenking@lorem.com"
             formControlName="email"
             required>
      <!-- phone number input -->
      <div class="input-details">
        <label for="phone">Phone Number</label>
        <label for="error"
               *ngIf="this.stepForm.controls['phone'].invalid && this.stepForm.controls['phone'].touched"
               class="error-alert">Phone number is required</label>
      </div>
      <input type="text"
             name="phone"
             id="phone"
             placeholder="e.g. +1 234 567 890"
             formControlName="phone"
             required>
    </mat-card-content>
  </mat-card>
</ng-container>
