<ng-container [formGroup]="stepForm">
  <mat-card class="step-one">
    <mat-card-header>
      <mat-card-title-group class="title">
        <mat-card-title role="heading"
                        aria-level="1">Personal info</mat-card-title>
        <mat-card-subtitle role="heading"
                           aria-level="2"
                           role="heading"
                           aria-level="2">Please provide your name, email address, and phone number.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-controls">
      <label for="name">Name</label>

      <input type="text"
             matInput
             formControlName="name"
             placeholder="e.g. Stephen King" />
      <!-- To-Do => form input validation stylin and functionality -->
      <!-- [formControl]="stepForm.personalDetails.nameFormControl"
               [errorStateMatcher]="matcher"[ngClass]="{'alert-danger': nameValidationErrorMessage }-->

      <!-- <span class="alert-danger">{{nameValidationErrorMessage}}</span> -->
      <mat-hint>{{nameValidationErrorMessage}}</mat-hint>
      <!-- <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('name')">
        {{nameValidationErrorMessage['minlength']}}
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        {{nameValidationErrorMessage['required']}}
      </mat-error> -->

      <label for="email">Email Address</label>
      <input type="text"
             name="email"
             placeholder="e.g. stephenking@lorem.com"
             formControlName="email"
             required>

      <!-- To-Do => form input validation styles and functionality -->

      <label for="phone">Phone Number</label>
      <input type="text"
             name="phone"
             placeholder="e.g. +1 234 567 890"
             formControlName="phone"
             required>

      <!-- To-Do => form input validation styles and functionality -->
    </mat-card-content>
  </mat-card>
</ng-container>
