@use "/src/variables";

label {
  @include variables.body-secondary-s;
}

input {
  @include variables.body-primary-xs;
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 0.063rem solid variables.$delicate-lilac-crystal;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  color: variables.$bright-manatee !important;
}

input:focus,
input:valid {
  color: variables.$sub-nautical;
}

.input-details {
  @include variables.flexSpaceBetween(row);
  width: 18.437rem;
}

.error-alert {
  color: variables.$strawberry-red;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1rem;
}

@media (min-width: 37.5em) {
  label {
    @include variables.body-primary-m;
    margin-bottom: 0.5rem;
  }

  input {
    height: 3rem;
    margin-bottom: 1.5rem;
  }

  .input-details {
    width: 28.125rem;
  }

  .error-alert {
    font-weight: 700;
  }
}
