@use '/src/variables';


.container {
  width: 100vw;
  height: 100vh;
}


.attribution {
  font-size: .75rem;
  text-align: center;
}

.attribution a {
  color: variables.$purplish-blue;
}


@media (min-width: 600px) {
  .mobile {
    display: none;
  }
}
