@use '/src/variables';

:host {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  width: 100%;
  height: auto;
  @include variables.flexSpaceBetween(row);
  padding: 1rem 2rem;

}

.attribution {
  display: none;
}

.btn-next,
.btn-confirm {
  margin: 1rem 1rem 1rem auto;
}

.btn-confirm {
  background-color: variables.$purplish-blue;
}

@media (min-width: 600px) {
  :host {
    width: 450px;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .btn-next,
  .btn-confirm {
    margin: 0 0 0 auto;
  }
}
