<mat-card class="step-four">
  <mat-card-header>
    <mat-card-title-group class="title">
      <mat-card-title>Finishing up</mat-card-title>
      <mat-card-subtitle>Double-check everything looks OK before confirming.</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <!-- TO DO => Dynamically add subscription and add-on selections here -->

    <p>Total (per month/year) {{totalCost}}</p>
    <h3>Personal Info</h3>
    <ul role="list">
      <li role="listitem"> Name: {{this.name}}</li>
      <li role="listitem"> Email: {{this.email}}</li>
      <li role="listitem"> Phone Number: {{this.phone}}</li>
    </ul>

    <mat-divider></mat-divider>
    <h3>Plan:</h3>
    <!-- {{ctrl.plan}} - {{ctrl.term}} -->
    <h3> Add Ons:</h3>
    <ul>
      <li ng-if="ctrl.onlineService">Online Service</li>
      <li ng-if="ctrl.largerStorage">Larger Storage</li>
    </ul>
  </mat-card-content>
</mat-card>


      <!-- <form [formGroup]="personalDetails"></form> -->
