<mat-card class="step-four">
  <mat-card-header>
    <mat-card-title-group class="title">
      <mat-card-title>Finishing up</mat-card-title>
      <mat-card-subtitle>Double-check everything looks OK before confirming.</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <table>
      <th>
        <tr>
          {{planDetails.plan}} ({{planDetails.duration}}) <span>${{planDetails.planCost}}</span>
        </tr><button mat-button>Change</button>
      </th>
      <mat-divider></mat-divider>
      <ng-container *ngIf="addOnDetails.service">
        <tr>
          Online Service  <span>${{addOnDetails.serviceCost}}</span>
        </tr>
      </ng-container>
      <ng-container *ngIf="addOnDetails.storage">
        <tr>
          Larger Storage  <span>${{addOnDetails.storageCost}}</span>
        </tr>
      </ng-container>
      <ng-container *ngIf="addOnDetails.customization">
        <tr>
          Customizable Profile  <span>${{addOnDetails.customizationCost}}</span>
        </tr>
      </ng-container>

      <tfoot class="total">
        Total (per month/year)<span> ${{planDetails.totalCost}}</span>
      </tfoot>
    </table>

  </mat-card-content>
</mat-card>


<!-- <form [formGroup]="personalDetails"></form> -->
