<div class="step-card">
<mat-card class="confirm">

   <img src="/assets/images/icon-thank-you.svg"
           alt="">

           <mat-card-header>
    <mat-card-title-group class="title">
      <mat-card-title role="heading" aria-level="1">Thank you!</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p> Thanks for confirming your subscription! We hope you have fun
      using our platform. If you ever need support, please feel free
      to email us at support@loremgaming.com.</p>
  </mat-card-content>

</mat-card>
<!-- Step 5 end [activeStep]="activeStep" -->
</div>
