/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$global-font: 'Ubuntu', sans-serif;

/* Primary Colors */
$sub-nautical: hsl(213, 96%, 18%);
$shady-neon-blue: hsl(243, 100%, 62%);
$lavender-blue-shadow: hsl(243, 100%, 77%);
$dithered-sky: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);



/* Neutral Colors */
$bright-manatee: hsl(231, 11%, 63%);
$delicate-lilac-crystal: hsl(229, 24%, 87%);
$cotton-ball: hsl(216, 100%, 97%);
$wash-me: hsl(228, 100%, 99%);
$bright-white: hsl(0, 0%, 100%);


/* Typography */
@mixin heading-m {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0;
  text-align: left;
  color: $sub-nautical;
}

@mixin body-primary-l {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $bright-manatee;
}

@mixin body-primary-m {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
}
@mixin body-primary-s {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1rem;
  letter-spacing: 0.063rem;
}

@mixin body-primary-xs {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1rem;
}

@mixin body-secondary-s {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.1rem;
  color: $sub-nautical;
}


/* Flex */
@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flexSpaceBetween($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: space-between;
}
