/* Global Styles */
@use './variables';

html,
body {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: variables.$global-font;
  font-size: 16px;
  background-color: variables.$magnolia;
  @include variables.flexSpaceBetween(column);
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: all .25s ease-in-out;
}

.container {
  position: relative;
  width: 100vw;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: variables.$cool-gray;
  @include variables.body-primary-l;
}

.btn {
  height: 2.5rem;
  width: 97px;
  background-color: variables.$marine-blue;
  color: variables.$white;
  @include variables.body-primary-xs();
  border: none;
  border-radius: .25rem;
}

h1 {
  @include variables.heading-m;
}

h2,
h3 {
  @include variables.body-primary-s();
}

p {
  @include variables.body-primary-l;
  text-align: center;
  margin: 2rem 1rem 6rem 1rem;
}

mat-card {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: variables.$white !important;
  width: 343px;
  height: fit-content;
  padding: 2rem 1.5rem;
  @include variables.flexSpaceBetween(column);
  justify-content: space-evenly;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
  border-radius: 10px;
  text-align: left;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0 !important;
}

.mat-mdc-card-header {
  padding: 0 !important;
}

mat-card-title {
  @include variables.heading-m;
  margin-bottom: 9px !important;
}

mat-card-subtitle {
  @include variables.body-primary-l;
  margin-bottom: 1rem !important;

}

label {
  display: inline-block;
  width: 100%;
  @include variables.body-secondary-s;
}

input {
  @include variables.body-primary-xs;
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  border-radius: .25rem;
  border: 1px solid variables.$light-gray;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  color: variables.$light-gray !important;
}

input:focus,
input.ng-valid {
  color: variables.$marine-blue;
}

span {
  display: none;
}

.alert-danger {
  display: contents;
}


@media (min-width: 600px) {
  mat-card,
  mat-card-title,
  mat-card-subtitle,
  mat-card-content,
  mat-card-content input,
  mat-card-content label .mat-mdc-card-content , form, .column{
    width: 450px;
  }

  mat-card {
   position: relative;
   top: 0rem;
    padding: 0;
    box-shadow: none;
    align-items: flex-start;
  }

  mat-card-title {
    font-size: 2rem;
    line-height: 37px;

  }

  mat-card-subtitle {
    margin-bottom: 35px;
  }



  .mat-mdc-card-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  label {
    @include variables.body-primary-m;
    margin-bottom: .5rem;
  }

  input {
    height: 3rem;
    margin-bottom: 1.5rem;
  }

  .btn {
    height: 3rem;
    width: 123px;
  }
}
