@use "/src/variables";

:host {
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    min-height: calc(100vh - 250px);
  }

  .progress {
    display: none;
  }
}


form {
  height: fit-content;
}

form label {
  margin-bottom: .25rem !important;
  padding-block-end: 0.25rem;
}

// .attribution {
//   display: none;
// }

@media (min-width: 600px) {

  :host {
    @include variables.flexCenter(column);
    height: 100vh;
    width: 100vw;
  }

  .nav {
    position: relative;
  }

  .container {
    background: variables.$white;
    box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
    border-radius: 1rem;
    padding: 1rem;
    margin: auto auto;
    @include variables.flexSpaceBetween(row);
    height: 600px;
    width: 940px;
  }

  .row {
    @include variables.flexSpaceBetween(row);
    width: 100%;

  }

  .column {
    width: 650px;
    @include variables.flexSpaceBetween(column);
    height: 568px;
    padding-top: 56px;
    padding-bottom: 2rem;
  }

  form {
    background-color: variables.$white;
    border-radius: .25rem;
    @include variables.flexSpaceBetween(column);
    align-items: baseline;
  }

  .progress {
    display: block;
  }

  app-progress-nav {
    position: relative;
  }

}
