@use "/src/variables";

:host {
  background-color: variables.$light-blue;
  width: 100%;
  height: calc(100vh - 250px);
  @include variables.flexCenter(column);
  margin: auto;

}





// bottom nav buttons
.nav {
position: fixed;
bottom: 0;
  width: 100%;
  height: 72px;
  @include variables.flexSpaceBetween(row);
  padding: 1rem 2rem;
  // position: static;
  // z-index: 5;
}

.attribution {
  display: none;
}


.btn-next,
.btn-confirm {
  margin: 1rem 1rem 1rem auto;
}

.btn-confirm {
  background-color: variables.$purplish-blue;
}

